{% extends "MeupfPlateformBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Posts{% endblock %}

{% block body %}

    <h2>Modifier un sermon</h2>
    <hr/>

    {{ include("MeupfPlateformBundle:Slider:form.html.twig") }}

    <p>
        Attention : cet sermon sera modifier directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}