{% extends "MeupfPlateformBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter une categorie</h2>

    {{ include("MeupfPlateformBundle:CategorieMedia:form.html.twig") }}

    <p>
        Attention : cette categorie sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}