<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li class="active">Monday Prayer</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-8">
                <h1>Events</h1>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4"> <a href="{{ path('meupf_front_end_all_event') }}" class="pull-right btn btn-primary">All events</a> </div>
        </div>
    </div>
</div>