<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="blog-masonry.html">Blog</a></li>
                    <li class="active">Post title</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h1>Blog</h1>
            </div>
            <div class="col-md-4 col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit convallis egestas rhoncus.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->