{% extends "MeupfPlateformBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Posts{% endblock %}
{% block body %}

    <h2>Ajouter un Temoignage</h2>
    <hr/>

    {{ include("MeupfPlateformBundle:Temoignage:form.html.twig") }}

    <p>
        Attention : cet temoignage sera ajouté directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}