{% extends "MeupfPlateformBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Posts{% endblock %}
{% block body %}

    <h2>Ajouter un article</h2>
    <hr/>

    {{ include("MeupfPlateformBundle:Article:form.html.twig") }}

    <p>
        Attention : cet article sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}