{% extends "MeupfPlateformBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Posts{% endblock %}

{% block body %}

    <h2>Modifier une categorie</h2>
    <hr/>

    {{ include("MeupfPlateformBundle:CategorieSermon:form.html.twig") }}

    <p>
        Attention : cette categorie sera modifier directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}